 .body{
 background: #545454;
 }
 .slider{
 -webkit-appearance: none;
    position: relative;

    width: 1200px;
    height: 130px;
    background: #545454;
    outline: none;
    opacity:0.7;
    -webkit-transition: .2s;
      transition: opacity .2s;
    }
   .slider:hover{
   opacity:1;
   }
   .slider::-webkit-slider-thumb{
   -webkit-appearance : none;
   appearance: none;
     width: 25px;
     height: 25px;
     background: #000;
     cursor: pointer;
   }
   .slider::-moz-range-thumb {
     width: 19px;
     height: 19px;
     background: #000;
     cursor: pointer;
   }
   .range{
   position: relative;
   left:560px;
   font-family: 'Press Start 2P', cursive;
   height:100px;
   width:200px;
   font-size: 30px;
   }