
 .slider{
 -webkit-appearance: none;
    position: relative;

    width: 130px;
    height: 100px;
    outline: none;
    opacity:0.7;
    -webkit-transition: .2s;
      transition: opacity .2s;
    }
   .slider:hover{
   opacity:1;
   }
   .slider::-webkit-slider-thumb{
   -webkit-appearance : none;
   appearance: none;
     width: 25px;
     height: 25px;
     background: #000;
     cursor: pointer;
   }
   .slider::-moz-range-thumb {
     width: 19px;
     height: 19px;
     background: #000;
     cursor: pointer;
   }
   .range{
   position: relative;
   left:560px;
   font-family: 'Press Start 2P', cursive;
   height:100px;
   width:200px;
   font-size: 30px;
   }
   .timeline{
   position: relative;
   max-width:1200px;
   max-height:200px;
   margin: 0 auto;
   }
   .timeline::after{
   content: '';
   position: absolute;
   width: 6px;
   top:0;
   bottom: 0;
   left: 50%;
   margin left: -3px;
   }
   .content {
   position: relative;
   border-radius:6px;
   }