<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Animations</title>
</head>
<body>
<table id="animations" class="table table-dark table-striped table-hover dataTable">
    <thead>
    <tr>
        <th scope="col">Type</th>
        <th scope="col">Name</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>

    <tbody>
    $@Animations$
    <th scope ="row">$@Type$</th>
    <td>$@Name$</td>
    <td>
        <a role="button" type="button" class="btn btn-danger" href="/animation/delete?name=$name$"><i class="fa fa-trash"></i></a>
        <a role="button" type="button" class="btn btn-info" href="/animation/settings?name=$name$"> <i class="fa fa-cog"></i></a>
    </td>

    </tbody>
</table>
</body>
</html>