<link rel="stylesheet" href="/static/3party/spectrum.css">
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h1" style="padding-top:12px">Live</h1>
</div>
<div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
    <form method="get" action="/liveaction/togglemute" id="togglemute"></form>
    $@form_scene$
        <form method="get" action="/scenes/play" class="scene-form" id="sc_$name$"></form>
    $@@$
    <div class="btn-group mr-2" role="group" aria-label="First group">
        <button type="button" class="btn btn-secondary" id="toggle-drag-and-drop"><i class="fa fa-arrows-alt"></i></button>
        <button type="submit" form="togglemute" class="btn btn-$mute_status$" id="toggle-mute"><i class="fa fa-$mute_icon$"></i></button>
        $@scene$
            <input type="hidden" name="fromlive" value="1" form="sc_$name$">
            <input type="hidden" value="$name$" name="name" form="sc_$name$">
            <button form="sc_$name$" type="button" class="btn btn-secondary scene-play" data-toggle="tooltip" data-placement="bottom" title="$name$"><i class="fa fa-play"></i></button>
        $@@$
    </div>
    <form method="get" action="/liveaction/setmaster">
        <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text" id="btnGroupAddon">Master</div>
                </div>
                <input id="master" name="value" type="range" value="$master$" class="form-control custom-range" placeholder="Master value" aria-label="Input group example" aria-describedby="btnGroupAddon">
        </div>
    </form>
</div>
<div id="live-devices" class="d-flex" style="height: 100%">
$@devices$
    <div data-prio="$priority$" class="border border-primary rounded align-items-center devices" style="min-width: 5vw !important;padding:0 15px;flex-shrink: 0;flex-grow: 1">
        <h3>$name$</h3>
        $@color$
        <div>
            <input type='text' class="color-select rgb-$device$" value="rgb $red$ $green$ $blue$" data-device="$device$">
        </div>
        $@@$
        <div>
        $@control$
            <form method="get" action="/liveaction/setvalue" class="valueform">
                <input type="range" class="custom-range valuerange $device$-$channel$" max="255" value="$value$" name="value">
                <input value="$channel$" name="channel" type="hidden">
                <input value="$device$" name="device" type="hidden">
                <span class="text-$save$">$channel$</span>
            </form>
        $@@$
        </div>
    </div>
$@@$
</div>
<script src="/static/3party/spectrum.js"></script>
<script src="/static/3party/sortable.js"></script>
<script src="/static/3party/cookies.js"></script>
<script>
    var host = "$host$";
</script>
<script src="/static/live.js"></script>