<link rel="stylesheet" href="/static/3party/spectrum.css">
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h1" style="padding-top:12px">Live</h1>
</div>
<div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="First group">
        <button type="button" class="btn btn-secondary">1</button>
        <button type="button" class="btn btn-secondary">2</button>
        <button type="button" class="btn btn-secondary">3</button>
        <button type="button" class="btn btn-secondary">4</button>
    </div>
    <form method="get" action="/liveaction/setmaster">
        <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text" id="btnGroupAddon">Master</div>
                </div>
                <input id="master" name="value" type="range" value="$master$" class="form-control" placeholder="Master value" aria-label="Input group example" aria-describedby="btnGroupAddon">
        </div>
    </form>
</div>
<div id="live-devices" class="d-flex" style="height: 100%">
$@devices$
    <div data-prio="$priority$" class="border border-primary rounded align-items-center device" style="min-width: 5vw !important;padding:0 15px;flex-shrink: 0;flex-grow: 1">
        <h3>$name$</h3>
        $@color$
        <div>
            <input type='text' class="color-select" value="rgb $red$ $green$ $blue$" data-device="$device$">
        </div>
        $@@$
        <div>
        $@control$
            <form method="get" action="/liveaction/setvalue" class="valueform">
                <input type="range" class="form-control-range valuerange" max="255" value="$value$" name="value">
                <input value="$channel$" name="channel" type="hidden">
                <input value="$device$" name="device" type="hidden">
                <span class="text-$save$">$channel$</span>
            </form>
        $@@$
        </div>
    </div>
$@@$
</div>
<script src="/static/3party/spectrum.js"></script>
<script src="/static/3party/sortable.js"></script>
<script>
devices = $(".device");
devices.sort(function (a, b) {
      var contentA =parseInt( $(a).attr('data-prio'));
      var contentB =parseInt( $(b).attr('data-prio'));
      console.log(contentA + " " + contentB);
    return contentA - contentB;
});
console.log(devices);
$("#live-devices").html(devices);
$("#master").on('input', function() {
    $.ajax({
        url : this.form.action,
        type: this.form.method,
        data: $(this.form).serialize()
    });
});
$('.valuerange').each(function(){
    $(this).on('input', function() {
        $.ajax({
            url : this.form.action,
            type: this.form.method,
            data: $(this.form).serialize()
        });
    });
});
$('.color-select').each(function(){
    var device = $(this).attr("data-device");
    $(this).spectrum({
        flat: true,
        showInput: true,
        cancelText: "",
        chooseText: "",
        move: function(color) {
            console.log(color.toRgb());
            var get = "device=" + device + "&r=" + color.toRgb().r + "&g=" + color.toRgb().g + "&b=" + color.toRgb().b;
            $.ajax({
                url : "/liveaction/setrgb",
                type: "get",
                data: get
            });
        }
    });
});
new Sortable(document.getElementById('live-devices'), {
	animation: 150,
	ghostClass: 'blue-background-class',
	onUpdate: function (/**Event*/evt, /**Event*/originalEvent) {
	    var devices = new Map();
	    var i = 0;
	    $('.device').each(function(){
	        devices.set($(this).find("h3").text(), i);
	        i = i + 1;
        });
        console.log(devices);
        var first = 1;
        var request = "";
        devices.forEach(function(value, key, map){
            if (first == 0) {
                request += "&";
            }
            request += key + "=" + value;
            first = 0;
        });
        console.log(request);
        $.ajax({
            url : "/liveaction/updatePrio",
            type: "get",
            data: request
        });
	}
});

</script>